# Ignore node modules 
node_modules/

# Ignore all .env files
**/.env

# Ignore build folders
**/dist
**/build

# Ignore logs
*.log

# Ignore temporary files
backend-structure.txt
structure.txt
agentic-structure.txt

# Ignore OS files
Thumbs.db
.DS_Store
